<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>九九乘法表</title>
    <script src="./vue.js"></script>
    <style>
        button{
            width: 70px;
        }
    </style>
</head>
<body>
<div id='app'>
    <div v-for='item in num'>
        <button v-for='index in item'>
        {{item}}x{{index}}={{item*index}}
        </button>
    </div>
    </div>
</div> 
<script>
    let vm = new Vue({
        el:'#app',
        data:{
            num:9
        },
        
    })
</script>
</body>
</html>